// breakpoints
$mobile: 500px;
$tablet: 769px;
$laptop: 1128px;

// fonts
$font-family-regular: 'SourceSansPro-Regular', arial, sans-serif;
$font-family-light: 'SourceSansPro-Light', arial, sans-serif;
$font-family-bold: 'SourceSansPro-Bold', arial, sans-serif;

// fonts size
$font-size-block-heading: 28px;
$font-size-block-heading-mobile: 20px;
$font-size-item-heading: 20px;
$font-size-item-heading-mobile: 16px;
$font-size-item-text: 16px;
$font-size-item-text-mobile: 12px;

// colors
$text-primary: #3F3F3F;
$text-transparent: #B4B4B4;
$text-form-heading: #49485E;
$background-default: #E5E5E5;
$background-item-default: #FFFEFB, 80%;
$button-text-color-active: #FFF;
$button-background-active: #7BAE73;
$button-background-disabled: #EEE;
$button-text-color-disabled: #B4B4B4;
$button-background-remove: #FF8484;

// transition
$transition-time-default: 1400ms;
$transition-default: all $transition-time-default ease-in-out;
